button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  color: white;
}

.market-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.green {
  background: #16a34a;
}

.red {
  background: #dc2626;
}